<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% block style %}
    {% endblock %}
  </head>
  <body>
    <nav>
      <ul>
        <li class="brand">MyApp</li>
        <li><a href="{{ url_for('auth.home') }}">Home</a></li>
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        <li><a href="{{ url_for('auth.sign_up') }}">Sign Up</a></li>
      </ul>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
            <button type="button" class="close" onclick="this.parentElement.style.display='none';">&times;</button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    {% block body %}
    {% endblock %}
  </body>
</html>